*{
    margin:0px;
    padding: 0px;
    box-sizing:border-box;
}
.footer{
    width:100%;
    height:100%;
    background: linear-gradient(45deg,#00ae7b,#0081bf);
    background-image:linear-gradient( rgba(126,213,111,0.9),rgba(40,180,131,0.9)),url(back.svg);
    background-size: cover;
}
.footer_para {
    color: white;
    cursor: pointer;
    transition: .4s;
  
}
.footer_link{
  color: white;
  cursor: pointer;
  transition: .4s;
  text-decoration: none;
}
.footer_link:hover{
  text-decoration:underline;
  color: black;
  font-size: 150%;
}
.footer_contact{
  color:white;
  cursor: pointer;
  margin-bottom: 5px;
}
.footer_contact:hover{
  text-decoration:underline;
}
.footer_contact_icon{
  font-size:15px;
   color:black;
   margin-right:5px;
   transition:.3s;
 }
 .footer_contact_icon:hover{
  transform: translate(0,-20%);
}

.footer_heading{
    color:#FF6B1B;
      /* text-align: center; */
      padding-bottom:10px;
      padding-top: 10px;

  }
.footer_social_icon{
    font-size:40px;
    color: black;
    background: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    margin-right: 10px;
    transition:.3s;
} 
.footer_social_icon:hover{
  transform: translate(0,-20%);
}
.footer_social_icon_container{
  text-align: center;
  padding-bottom:10px;
  padding-top: 10px;

}
.footer_heading{
    margin:5px;
}
.footer_para{
    margin-bottom:20px;
}
.footer_line{
  border: 0.5px solid white;
}
.footer_container{
  display:grid;
  grid-template-columns:auto auto auto auto;
  justify-content: space-around;
}
.footer_content{
    margin-left: 10px;
}
@media screen and (max-width:992px){
    .footer_container{
        display:grid;
        grid-template-columns:auto auto;
        justify-content: space-around;
      }
}
@media screen and (max-width:600px){
     .footer_container{
        display:grid;
        grid-template-columns:auto;
      } 
     
}
.footer_subscribe_btn {
  background-color:#FF6B1B;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  width:60%;
}
.footer_subscribe_btn{
    border-radius: 4px;
  transition:0.4s;
}

.footer_subscribe_btn:hover{
  background-color:white;
  color: black;
 transform: translate(0,-10px);

}

.footer_list{
    margin:5px;
    list-style-type: none;
}
.footer_input{
  border: 2px solid white;
  width:100%;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('envelope.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  outline: none;
}
.footer_form{
    display:grid;
    grid-template-rows:auto auto;
    grid-row-gap: 20px;
}

